$bodycolor:#FFFFFF;
$menycolor:#DDDDDD;
$menyfontcolor:#1111FF;
$mainfontcolor:#0000FF;
$displayborder: 700px;
$menufontsize: 20px;

body{
	background-color:$bodycolor;
	color:$mainfontcolor;
}
.menubar{
	background-color:$menycolor;
	color:$menyfontcolor;	
}
.top-menu-item{
	line-height:$menufontsize + 18px;	
	font-size:$menufontsize;	
}
.top-menu-item a{
	text-decoration:none;
}
.clickable-element{
	cursor:pointer;
}
.error-message{
	color:#FF0000;
	font-size:12px;
	line-height:18px;
}

@media screen and (min-width: $displayborder) {
	.top-menu-item{
		float:left;
		margin-left:25px;
		margin-right:35px;
	}
}

@media screen and (max-width: $displayborder){
	.top-menu-item{
		width:100%;
		text-align:center;
	}
}

#login-button-holder{
	float:right;
	font-size:$menufontsize * 0.66;
	width:100px;
	text-align:center;
}
.vue-temp-hide{
	display:none;
}
.vue-temp-show{
	color:$menyfontcolor;
	border:none;
	position:absolute;
	left:100%;
	margin-left:-280px;
	top:8px;
}